<?xml version="1.0"?><!--
  ~ Copyright (C) Licentia, Unipessoal LDA
  ~
  ~ NOTICE OF LICENSE
  ~
  ~  This source file is subject to the EULA
  ~  that is bundled with this package in the file LICENSE.txt.
  ~  It is also available through the world-wide-web at this URL:
  ~  https://www.greenflyingpanda.com/panda-license.txt
  ~
  ~  @title      Licentia Panda - Magento® Sales Automation Extension
  ~  @package    Licentia
  ~  @author     Bento Vilas Boas <bento@licentia.pt>
  ~  @copyright  Copyright (c) Licentia - https://licentia.pt
  ~  @license    https://www.greenflyingpanda.com/panda-license.txt
  ~
  -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_order_save_after">
        <observer name="panda_metadata_order" instance="Licentia\Equity\Observer\OrderRelated"/>
    </event>
    <event name="customer_register_success">
        <observer name="customer_register_success_seg" instance="Licentia\Equity\Observer\UpdateSegmentRequest"/>
    </event>
    <event name="checkout_submit_all_after">
        <observer name="checkout_submit_all_after_seg" instance="Licentia\Equity\Observer\UpdateSegmentRequest"/>
    </event>
    <event name="sales_order_invoice_register">
        <observer name="panda_invoice_register_seg" instance="Licentia\Equity\Observer\UpdateSegmentRequest"/>
    </event>
    <event name="review_save_after">
        <observer name="panda_metadata_review" instance="Licentia\Equity\Observer\ReviewRelated"/>
    </event>
    <event name="customer_save_commit_after">
        <observer name="panda_metadata_update_account" instance="Licentia\Equity\Observer\AccountRelated"/>
    </event>
    <event name="sales_order_state_change_before">
        <observer name="panda_sales_extraCosts_update_extra_costs" instance="Licentia\Equity\Observer\UpdateSalesExtraCosts"/>
    </event>
    <event name="sales_quote_save_after">
        <observer name="panda_metadata_quote_2" instance="Licentia\Equity\Observer\QuoteRelated"/>
    </event>
    <event name="sales_order_save_before">
        <observer name="panda_setOrderAttributes" instance="Licentia\Equity\Observer\SetOrderAttributes"/>
    </event>
</config>
