<?xml version="1.0"?><!--
  ~ Copyright (C) Licentia, Unipessoal LDA
  ~
  ~ NOTICE OF LICENSE
  ~
  ~  This source file is subject to the EULA
  ~  that is bundled with this package in the file LICENSE.txt.
  ~  It is also available through the world-wide-web at this URL:
  ~  https://www.greenflyingpanda.com/panda-license.txt
  ~
  ~  @title      Licentia Panda - Magento® Sales Automation Extension
  ~  @package    Licentia
  ~  @author     Bento Vilas Boas <bento@licentia.pt>
  ~  @copyright  Copyright (c) Licentia - https://licentia.pt
  ~  @license    https://www.greenflyingpanda.com/panda-license.txt
  ~
  -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="catalog_controller_product_init_after">
        <observer name="panda_segments_prod_init" instance="Licentia\Equity\Observer\ProductRelated"/>
    </event>
    <event name="customer_login">
        <observer name="panda_new_login" instance="Licentia\Equity\Observer\NewLogin"/>
    </event>
    <event name="customer_logout">
        <observer name="panda_customer_logout" instance="Licentia\Equity\Observer\CustomerLogout"/>
    </event>
    <event name="controller_action_predispatch">
        <observer name="panda_autoresponder_utm" instance="Licentia\Equity\Observer\ControllerPreDispatch"/>
    </event>
    <event name="cms_page_load_after">
        <observer name="panda_segments_access_check_page" instance="Licentia\Equity\Observer\LoadAfter"/>
    </event>
    <event name="cms_block_load_after">
        <observer name="panda_segments_access_check_block" instance="Licentia\Equity\Observer\LoadAfter"/>
    </event>
    <event name="catalog_product_load_after">
        <observer name="panda_segments_access_check_product" instance="Licentia\Equity\Observer\LoadAfterProduct"/>
    </event>
    <event name="catalog_category_load_after">
        <observer name="spanda_egments_access_check_category" instance="Licentia\Equity\Observer\LoadAfterCategory"/>
    </event>
    <event name="catalog_category_collection_load_before">
        <observer name="panda_segments_access_check_category_collection" instance="Licentia\Equity\Observer\LoadBeforeCategoryCollection"/>
    </event>
    <event name="catalog_product_collection_apply_limitations_after">
        <observer name="panda_segments_access_check_product_collection" instance="Licentia\Equity\Observer\LoadBeforeProductCollection"/>
    </event>
</config>
