<?xml version="1.0"?><!--
  ~ Copyright (C) Licentia, Unipessoal LDA
  ~
  ~ NOTICE OF LICENSE
  ~
  ~  This source file is subject to the EULA
  ~  that is bundled with this package in the file LICENSE.txt.
  ~  It is also available through the world-wide-web at this URL:
  ~  https://www.greenflyingpanda.com/panda-license.txt
  ~
  ~  @title      Licentia Panda - Magento® Sales Automation Extension
  ~  @package    Licentia
  ~  @author     Bento Vilas Boas <bento@licentia.pt>
  ~  @copyright  Copyright (c) Licentia - https://licentia.pt
  ~  @license    https://www.greenflyingpanda.com/panda-license.txt
  ~
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="Magento\Catalog\Ui\DataProvider\Product\Form\Modifier\Pool">
        <arguments>
            <argument name="modifiers" xsi:type="array">
                <item name="panda_segments" xsi:type="array">
                    <item name="class" xsi:type="string">Licentia\Equity\Ui\DataProvider\Product\Form\Modifier\SegmentsPrices</item>
                    <item name="sortOrder" xsi:type="number">90</item>
                </item>
            </argument>
        </arguments>
    </virtualType>
     <type name="Magento\Backend\Block\System\Account\Edit\Form">
        <plugin name="panda_user_form" type="Licentia\Equity\Plugin\UserEdit" sortOrder="1"/>
    </type>
    <type name="Magento\ImportExport\Model\Import">
        <plugin name="pandaAfterImportProducts" type="Licentia\Equity\Plugin\Import"/>
    </type>
</config>
