<?xml version="1.0"?><!--
  ~ Copyright (C) Licentia, Unipessoal LDA
  ~
  ~ NOTICE OF LICENSE
  ~
  ~  This source file is subject to the EULA
  ~  that is bundled with this package in the file LICENSE.txt.
  ~  It is also available through the world-wide-web at this URL:
  ~  https://www.greenflyingpanda.com/panda-license.txt
  ~
  ~  @title      Licentia Panda - Magento® Sales Automation Extension
  ~  @package    Licentia
  ~  @author     Bento Vilas Boas <bento@licentia.pt>
  ~  @copyright  Copyright (c) Licentia - https://licentia.pt
  ~  @license    https://www.greenflyingpanda.com/panda-license.txt
  ~
  -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>

        <add id="Licentia_Equity::extra_costs" title="Sales Extra Costs" module="Licentia_Equity" sortOrder="95" parent="Magento_Sales::sales_operation" action="pandae/extraCosts" resource="Licentia_Equity::extra_costs"/>

        <add id="Licentia_Equity::segments" title="Customer Segments" module="Licentia_Equity" sortOrder="51" parent="Magento_Customer::customer" action="pandae/segments" resource="Licentia_Equity::segments"/>
        <add id="Licentia_Equity::kpis" title="Customer KPIs" module="Licentia_Equity" sortOrder="52" parent="Magento_Customer::customer" action="pandae/kpis" resource="Licentia_Equity::segments"/>
        <!--<add id="Licentia_Equity::access" title="Segments Access" module="Licentia_Equity" sortOrder="53" parent="Magento_Customer::customer" action="pandae/access" resource="Licentia_Equity::access"/>-->

        <add id="Licentia_Equity::twofactor" title="Two-Factor Auth - Customer" module="Licentia_Equity" sortOrder="54" parent="Magento_Reports::report_customers" action="pandae/twofactor" resource="Licentia_Equity::twofactor"/>
        <add id="Licentia_Equity::twofactor_admin" title="Two-Factor Auth - Admin" module="Licentia_Equity" sortOrder="55" parent="Magento_Reports::report_customers" action="pandae/twofactoradmin" resource="Licentia_Equity::twofactor"/>

        </menu>
</config>
